!!!
%html
%head
  <title>QUnit Test Suite</title>
  = stylesheet_link_tag "qunit"
  = javascript_include_tag "cornerstone"
  = javascript_include_tag "all_tests"
%body
  <h1 id="qunit-header">QUnit Test Suite</h1>
  <h2 id="qunit-banner"></h2>
  <div id="qunit-testrunner-toolbar"></div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests">test markup, hidden.</ol>
